<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="nav-link active" role="tab" data-toggle="tab"
            routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="nav-link active" role="tab" data-toggle="tab" routerLink="/servers">Servers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="nav-link active" role="tab" data-toggle="tab" [routerLink]="['/users']">Users</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>